:root {
    --sans-font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body {
    margin: 0;
}

.heading {
    text-align: center;
    background-color: #e9ecef;
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: var(--sans-font-family);
    font-weight: 400;
}

.heading h1 {
    padding: 0;
    font-weight: inherit;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.container {
    display: inline-flex;
    flex-direction: column;
    align-items:
            center;
    justify-content: center;
    gap: 8px;
    /*border: #4d4d4d solid 1px;*/
    /*border-radius: 5px;*/
    padding: 10px;
}

label {
    font-family: var(--sans-font-family);
    font-weight: 400;
}

.input-row {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    /*justify-content: center;*/
    /*margin-bottom: 20px;*/
}

.input-row .col-1 {
    width: 9rch;
    /*border: cornflowerblue solid 1px;*/
    /*justify-content: left;*/
}

.input-row .col-2 {
    font-family: monospace;
    width: 8.5ch;
    /*margin-right: 8px;*/
}
.input-row .col-3 {
    width: 13rch;
}

.time-field {
    display: inline-flex;
    justify-content: flex-end;
}

.time-field input {
    border: none;
    outline: none;
    background-color: transparent;
    font-family: inherit;
    /*font-size: inherit;*/
    text-align: center;
    width: 2ch;
    padding: 0;
}

.time-field span {
    /*font-family: inherit;*/
    /*font-weight: bold;*/
    font-size: inherit;
}

.input-field {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.focus {
    box-shadow: 0 0 10px #719ECE;
}

.input-field:focus {
    outline: none !important;
    box-shadow: 0 0 10px #719ECE;
}


.input-field.derived {
    border-color: #8a8f00;
    background-color: #fdffcc;
}

.input-field.derived input {
    color: #4d4d4d;
}

#distance {
    text-align: right;
    font-size: inherit;
}

kbd {
    display: inline-block;
    padding: 2px 5px;
    border: 1px solid #999;
    border-radius: 3px;
    background-color: #f7f7f7;
    font-family: monospace;
}
